*
{
 	font-family:-apple-system, BlinkMacSystemFont, "Segoe UI Adjusted", "Segoe UI", "Liberation Sans", sans-serif;;
 	scrollbar-color: #ccc  transparent;
}
body
{
 	margin:0;
 	max-width:1440px;
	margin:auto;
}
header
{
	border-top:3px solid #e7700d;
	border-bottom:1px solid #ccc;
 	position:sticky;
 	top:0;
 	z-index:1;
	background:#fff;
}
.header_div
{
	display:flex;
	margin:0 auto;
	width: 93.5%;
	display:flex;
}
.logo img
{
 	height:29.5px;
 	width:145px;
 	position:relative;
}
.logo
{
	height:100%;
	padding:9px 7px;
	border-radius:5px;
}
.logo:hover
{
	background-color:#e3e6e8;
}
.header_list
{
	margin:auto 3.8px;
	display:flex;
	justify-content: space-between;
}
.header_div a:not(.logo)
{
	 position:relative;
	 padding:8px 14px;
	 text-decoration:none;
	 color: #636b74;
	 font-size:13px;
	 border-radius:20px;
}
.header_div a:hover
{
	background-color:#e3e6e8;
}
.input_box
{
	display:flex;
	margin:auto ;
	width:100%;
 	border-radius:5px;

}
.input_box input
{
	margin-left:2.8px;
 	height:4vh;
 	border:1px solid #bbb;
 	color:#333;
 	font-size:13px;
 	border-radius:6px;
 	width:100%;
 	background:url("../assets/images/search2.png") center left no-repeat;
	background-position:5px;
 	padding: 2px 0 2px 31px;
}
.input_box input:focus
{
	outline:2px solid #1b75d0;
	outline-offset: 2px;
}

.header_button
{
	margin-left:auto;
	display:flex;
	margin:auto 8px;
}
.header_button button
{
 	border:1px solid #1b75d0;
	height:33px;
 	border-radius:6px;	
}
.login
{
	background-color:#FFF;
 	color:#1b75d0;
	margin-right:5px;
	width:58px;
}
.login:hover
{
 	background-color:#d6e8fa;
 	color:rgb(27 117 208);
}
.signup
{
 	background-color:#1b75d0;
 	color:#fff;
	width:67px;
}
.signup:hover
{
 	background-color:#155ca2;
	color:#FFF;
}




.container
{
 	display:flex;
}
nav
{
	border-right:1px solid #ddd;
 	height:91vh;
 	width:207px;
 	overflow-y:scroll;
 	overflow-x:hidden;
 	position:sticky;
 	top:55px;
}
.nav_elements
{
 	margin-top:22px;
 	padding-inline-start: 44px;
}
.nav_item
{
 	padding:6px 2px 7px 7px;
 	border-radius:3px;
}
.nav_item.nav_jobs
{
 	padding:0;
 	border-radius:3px;
}
{
 	padding:6px 2px 7px 7px;
 	border-radius:3px;
}
.nav_item.nav_active
{
	background-color:#efefef;
}
.nav_item.nav_active a
{
 	color:#000;
 	font-weight:bold;
}
.nav_jobs
{

}
.nav_item:hover
{
	background-color:#f6f6f6;
}
.nav_elements a
{
	text-decoration:none;
	color:#3b4045;
	font-size:13px;
}

.nav_image
{
	width:16px;
 	margin-right:2px;
 	position:relative;
 	top:3px;
 	opacity:0.8;
}
.nav_lab_img
{
 	width:32px;
 	margin-right:0px;
 	position:relative;
 	top:1px;
 	left:0px;
}
.nav_headings label
{
 	font-weight:bold;
 	font-size:11px;
}

.nav_headings
{
	margin:30px 0 10px 0;
 	margin-left:7px;
 	display:flex;
}
.nav_headings img
{
 	margin-left:auto;
 	width:13px;
 	margin-right:10px;
 	position:relative;
 	top:-1px;
 	opacity:0.8;
}
.nav_collective_elements
{
 	width:90%;
 	font-size:11px;
 	color:#777;
 	padding-inline-start: 7px;
}
.nav_collective_elements a
{
 	font-size:12px;
 	text-decoration:underline;
 	color:#000;
}
.nav_collective_elements b
{
 	color:#222;
}
.overflow_ai
{
 	opacity:0.88;
 	width:150px;
 	position:relative;
 	margin-left:0px;
 	margin-top:15px;
 	margin-bottom:10px;
}
nav button
{
 	width:120px;
 	height:30px;
 	font-size:11px;
 	border-radius:5px;
 	border:none;
 	margin-bottom:5px;
	margin-left:8px;
}
nav .learn_more
{
 	background-color:#e7700d;
 	color:#fff;
}
nav .explore
{
 	background:none;
}
nav .explore:hover
{
 	border:1px solid #aaa;
}


.profile_top
{
 	margin:24px 0 20px  24px;
 	display:flex;
}
.profile_pic
{
	border-radius:6px;
	width:128px;
	height:128px;
	box-shadow: 0px 0px 10px 0.1px #e5e5e5;
}

.profile_name
{
 	font-size:34px;
 	position:relative;
 	left:-4px;
	top:-5px;
}
.profile_details
{
 	color:#636b74;
 	font-size:13px;
 	position:relative;
 	left:-5px;
	margin-top:0;
	display:flex;
 	flex-direction:column;
}
.profile_details span
{
margin-bottom:7px;
}
.profile_text
{
 	margin-left:20px;
 	position:relative;
 	margin-top:13px;
}
.profile_details img
{
 	height:16px;
 	width:16px;
 	position:relative;
 	border-radius:0;
 	top:4px;
 	margin:0px 4px;
}

.profile_but
{
 	margin-left:auto;
 	height:35px;
 	width:75px;
 	background:#fff;
 	border:1px solid #bbb;
 	border-radius:5px;
 	color:#444;
 	font-size:12px;
}
.round_but
{
 	height:30px;
 	width:60px;
 	border-radius:15px;
 	border:none;
 	font-size:13px;
}
.round_but.active
{
 	margin-left:20px;
 	background-color:#e7700d;
 	color:#fff;
}
.round_but.inactive
{
 	background:none;
 	color:#444;
}
.round_but.inactive:hover
{
 	background-color:#ddd;
}
.round_but.active:hover
{
 	background-color:rgb(180 92 10);
}
.stats-about
{
 	display:flex;
 	margin-left:20px;
}

.stat_contents
{
 	border:1px solid #ccc;
 	border-radius:5px;	
}
.stat_contents_container
{
 	display:flex;
 	margin:15px;
 	margin-bottom:10px;
}
.trophy_div
{
 	display:grid;
 	margin:15px;
 	margin-bottom:20px;
}
.display_flex
{
 	display:flex;
}
.trophy_div img
{
 	height:20px;
}
.stats_text 
{
 	margin-right:100px;
 	margin-bottom:10px;
 	width:10px;
 	color:#222;
}
.stats_text small
{
 	color:#636b74;
}
.about
{
 	margin-left:10px;
}
.about ul a
{
 	color:#1b75d0;
}
.about ul
{
 	color:#444;
 	font-size:15px;
}
.about li
{
 	margin-bottom:15px;
}

.sub-list
{
 	list-style-type:disc;
 	margin-top:10px;
}
.no-bullet-list
{
 	list-style-type:none
}
.small-text
{
 	color:#666;
 	font-size:13;
}
.body-left
{
 	margin:10px;
	width:39vh;
 	margin-left:20px;

}
.body-right
{
 	margin:10px;
 	width:120vh;

}
.collectives
{
 	padding-inline-start: 15px;
}
.collectives li
{
 	display:flex;
 	margin-bottom:20px;
 	margin-top:10px;

}
.collectives img
{
 	width:45px;
 	height:45px;
}
.collectives div
{
 	margin-left:5px;
 	color:#444;
}
.collect_small
{
 	font-size:12px;
}
.about_img
{
 	position:relative;
 	top:10px;
}
.sub_heading
{
 	font-size:20px;
 	font-weight:normal;
 	margin-bottom:10px;
}
.light_border
{

 	border:1px solid #ccc;
 	border-radius:5px
 
}
.collectives_text
{
 	font-size:15px;
 	color:#222;
}

.link-text-blue
{
 	color:#1b75d0;
 	text-decoration:none;
}
.communities
{
 	width:90%;
 	font-size:12px;
 	color:#666;
 	padding-inline-start: 15px;
}
.communities img
{
 	width:20px;
 	height:20px;
}
.communities a,.communities div
{
 	position:relative;
 	top:3px;
}
.communities li
{
 	margin-bottom:10px;
}
.communities a
{
 	width:fit-content;
 	height:20px;
}
.right_align
{
 	margin-left:auto;
}
.badge_main
{
 	display:flex;
 	justify-content:space-between;
}
.badges_heading
{
 	margin-left:10px;
 	margin-top:85px;
}
.badges
{
 	border:1px solid #ccc;
 	margin:0px 0px;
 	width:100%;
 	border-radius:5px

}
.badge_image img
{
 	height:40px;
 	width:40px;
 	margin:10px;
}
.badge_image
{
 	display:flex;
}
.badge_text
{
 	position:relative;
 	top:10px;
}
.badge_text b
{
 	font-size:20px;
}
.badge_text div
{
 	font-size:12px;
}
.badge_list button
{
 	border:1px solid #ccc;
 	border-radius:3px;
 	padding:2px 4px 6px 4px;
 	font-size:11px;
 	color:#444;
 	background-color:#f6f6f6;
}
.badge_list div
{
 	position:relative;
 	top:3px;
 	font-size:11px;
 	color:#444;
 	margin-left:auto;
}
.badge_list
{
 	display:flex;
 	margin:8px 10px;
}
.m-left-10
{
 	margin-left:10px;
}
.margin_l_r_20
{
	margin: 0px 20px;
}
.top_contents
{
 	padding:14px;
 	border-bottom:1px solid #ccc;
 	display:flex;
 	font-size:14px;
}
.top_contents img,.last_content img
{
 	width:16px;
 	height:16px;
 	position:relative;
 	top:2px;
}
.last_content
{
 	padding:14px;
 	display:flex;
 	font-size:14px;
}
.text_light
{
 	color: #888;
 	font-size:13px;
}
.green-box
{
 	padding:3px;
 	color:#fff;
 	background-color:#18864b;
 	border-radius:4px;
 	margin:0px 10px;
}
.white-box
{
 	padding:3px;
 	border-radius:4px;
 	margin:0px 10px;
 	border:1px solid #ccc;
 	color:#666;
}
.grey-box
{
 	padding:4px 10px;
 	border-radius:4px;
 	margin:0px 10px;
 	background-color:#f3f3f3;
 	font-size:12px;
 	font-weight:bold;
 	color:#333;
}
.text_large
{
 	font-size:17px;
}
.gold_dot
{
 	color:#FFD700;
 	font-size:15px;
}
.silver_dot
{
 	color:#C0C0C0;
 	font-size:15px;
}
.bronze_dot
{
 	color:#CD7F32;
 	font-size:15px;
}
footer
{
 	background-color:#0c0d0e;
 	display:flex;
 	padding-bottom:20px;
}
footer img
{
 	width:37px;
 	margin-top:20px;
 	margin-left:50px;
}
footer ul
{
 	list-style-type:none;
 	margin-left:38px;
}
footer li
{
 	font-size:13px;
 	padding:5px;
 	color:#aaaab9;
}
.footer-title
{
 	color:#d3d3d3;
 	font-weight:bold;
 	font-size:13px;
 	margin-top:10px;
 	margin-bottom:10px;
}
.footer-start
{
	margin-left:-15px;	
}
footer a
{
 	text-decoration:none;
 	color:#aaaab9;
}
footer a:hover
{
 	color:#dddddd;
}

.footer-socials
{
 	margin-left:30px;
 	margin-top:30px;
 	margin-bottom:30px;
 	display:flex;
 	flex-direction:column;
}
.footer-copy
{
 	margin-top:auto;
 	color:#aaaab9;
 	font-size:11px;
}
.socials a
{
 	font-size:11px;
 	margin-right:10px;
}	
.view_all
{
 	padding-top:23px;
 	text-decoration:none;
}
.view_all img
{
 	width:16px;
 	position:relative;
 	top:3px;
 	margin-left:4px;
}
.posts_heading h3
{
 	font-weight:normal;
 	font-size:20px;
 	margin-bottom:3px;
}
.posts_heading .view_all
{
 	margin-bottom:35px;
}
.posts_heading
{
	justify-content:space-between;
}
.posts_heading a
{
 	text-decoration:none;
 	color:#1b75d0;
}
.top_auto
{
 	margin-top:auto;
 	margin-bottom:5px;
}
.tag_selector
{ 
 	display:flex;
}
.tag_selector div
{
 	border:1px solid #ccc;
 	border-radius:5px;
 	margin-left:10px;
}
.tag_selector button
{
 	border:none;
 	background:none;
 	margin:3px 2px;
 	padding:4px 8px;
 	border-radius:4px;
 	font-size:11px;
 	color:#444;
}
.tag_selector button.active
{
 	background:#e5e5e5;
 	color:#222;
 	font-weight:bold;
}

